*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Courier, Helvetica, sans-serif;
    font-size: 24px;
    /* font-weight: bold; */
}

.logIn-page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(201, 230, 255);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logIn-modal{
    width: 44%;
    height: 86%;
    margin: 40px auto;
    border-radius: 40px;
    border: 1px solid #000;
    /* text-align: center; */
    
    transition: all .2s ease-in-out;
    background-color:#fff;
}

.logIn-modal:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.header-logIn-modal h2{
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.logIn-quick{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    /* background-color:beige ; */
}

.logIn-quick p{
    line-height: 44px;
    margin: auto auto;
    
}

.logIn-gg{
    width: 50%;
    /* background-color: antiquewhite; */
}

.logIn-gg-content{
    display: flex;
    font-weight: bold;
    width: 60%;
    height: 100%;
    margin: auto auto;
    border-radius: 30px;
    

    /* color: #000; */
    transition: all .1s ease-in-out;
    border: 2px solid #000;
    background-color:aliceblue;
}

.logIn-gg-content:hover{
    cursor: pointer;
    box-shadow: 4px 4px 10px #ccc;  
    background-color:rgb(230, 243, 255);
}

.logIn-fb{
    width: 50%;
    /* background-color: dodgerblue; */
}

.logIn-fb-content{
    display: flex;
    font-weight: bold;  
    width: 60%;
    height: 100%;
    margin: auto auto;
    border-radius: 30px;
    transition: all .1s ease-in-out;
    color: #fff;
    border: 2px solid #000;
    background-color: rgb(35, 145, 255);
}

.logIn-fb-content:hover{
    cursor: pointer;
    box-shadow: 4px 4px 10px #ccc;  
    background-color: rgb(20, 137, 255);
}

.box-fb{    
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
    
}

.logIn-fb-content i{
    margin:auto auto;
    line-height: 40px;
    color: dodgerblue;
}

.logIn-gg img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    
    margin-left: 10px;
    border-radius: 50px;
}

.Or{
    position: relative;
    color: #aaa;
    margin: 20px 100px 20px;
    padding: 10px 0;
    opacity: 0.6;
}
.Or .or{
    display: block;
    position: absolute;
    width: 80px;
    height: 26px;
    left: 50%;
    margin-left: -38px;
    margin-top: -16px;
    padding-left: 10px;
    padding-right: 70px;
    background-color: #fff;
}

.input-form-login{
    display: block;
    width: 100%;
    height: 160px;
    padding: 20px 100px 0px;
    /* background-color: antiquewhite; */
}

.email-input,
.pass-input{
    display: flex;
    margin-bottom: 30px;
}

.input-form-login input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.input-form-login i{
    line-height: 40px;
    margin-right: 6px;
}

input:invalid {
    border-color: red;
}

.Forget-pass{
    padding: 0 100px;
    text-align: right; 
}

.Forget-pass a{
    font-size: 24px;
    opacity: 1;
    text-decoration: none;
    font-weight: bold;
    margin-left: 100px;
    color: rgb(0, 153, 255);
}
.forget-pass:hover{
    cursor: pointer;
    color: rgb(0, 153, 255);
}

.logIn-btn{
    width: 100%;
    padding: 30px 180px 0px;
    /* background-color: antiquewhite; */
}

.logIn-btn button{
    font-family: Courier, Helvetica, sans-serif;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 30px;
    margin: 10px 0 16px;
    color: #fff;
    background-color: coral;
}
.logIn-btn button:hover{
    background-color: rgb(255, 117, 67);
    cursor: pointer;
}

.register{
    /* font-size: 24px; */
    padding: 0 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.register a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 153, 255);
}

.register a:hover{
    color: rgb(0, 138, 230);
    cursor: pointer;
}

@media (max-width: 400px){
    .logIn-modal{
        width: 100%;
        height: 100%;
        margin: 0px auto;
        border-radius: 0;
        border: none;
    }

    .header-logIn-modal h2{
        margin-bottom: 50px;
    }

    .logIn-gg-content,
    .logIn-fb-content{
        width: 80%;
        height: 100%;
        font-size: 20px;
    }

    .Or{
        margin: 20px 100px 30px;
        padding: 10px 0;
        opacity: 0.6;
    }

    .input-form-login{
        padding: 20px 30px 50px;
    }

    .logIn-quick{
        font-size: 18px;
    }

    .Forget-pass{
        padding: 0 40px; 
    }

    .Forget-pass a{
        font-size: 22px;
    }

    .logIn-btn{
        width: 100%;
        margin-top: 30px;
        padding: 10px 80px 0px;
    }

    .register{
        width: 100%;
        font-size: 20px;
        padding: 0 40px;
        margin-top: 10px;
        margin-bottom: 0;
        margin-right: 0;
    }

    .register a{
        margin-left: 0px;
    }
}












.modal-register{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(201, 230, 255);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.ctn-register{
    width: 44%;
    height: 93%;
    margin: 20px auto;
    border-radius: 40px;
    border: 1px solid #000;
    /* text-align: center; */
    
    transition: all .4s ease-in-out;
    background-color:#fff;
}

.ctn-register:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.register-header h2{
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.register-quick{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.register-quick p{
    line-height: 44px;
    margin: auto auto;
    
}

.register-gg{
    width: 50%;
}

.register-gg-content{
    display: flex;
    font-weight: bold;
    width: 60%;
    height: 100%;
    margin: auto auto;
    border-radius: 30px;
    
    transition: all .1s ease-in-out;
    border: 2px solid #000;
    background-color:aliceblue;
}

.register-gg-content:hover{
    cursor: pointer;
    box-shadow: 4px 4px 10px #ccc;  
    background-color:rgb(230, 243, 255);
}

.register-fb{
    width: 50%;
}

.register-fb-content{
    display: flex;
    font-weight: bold;  
    width: 60%;
    height: 100%;
    margin: auto auto;
    border-radius: 30px;
    transition: all .1s ease-in-out;
    color: #fff;
    border: 2px solid #000;
    background-color: rgb(35, 145, 255);
}

.register-fb-content:hover{
    cursor: pointer;
    box-shadow: 4px 4px 10px #ccc;  
    background-color: rgb(20, 137, 255);
}

.box-fb{    
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
    
}

.register-fb-content i{
    margin:auto auto;
    line-height: 40px;
    color: dodgerblue;
}

.register-gg img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    
    margin-left: 10px;
    border-radius: 50px;
}

.Or{
    position: relative;
    color: #aaa;
    margin: 20px 100px 16px;
    padding: 10px 0;
    opacity: 0.6;
}
.Or .or{
    display: block;
    position: absolute;
    width: 80px;
    height: 26px;
    left: 50%;
    margin-left: -38px;
    margin-top: -16px;
    padding-left: 10px;
    padding-right: 70px;
    background-color: #fff;
}

.input-form-register{
    display: block;
    width: 100%;
    height: 280px;
    padding: 20px 100px 60px;
    /* background-color: antiquewhite; */
}

.name-input,
.email-input,
.pass-input,
.repass-input{
    display: flex;
    margin-bottom: 30px;
}

.input-form-register input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.input-form-register i{
    line-height: 40px;
    margin-right: 6px;
    opacity: 0.7;
}

input:invalid {
    border-color: red;
}

.register-btn{
    width: 100%;
    padding: 30px 180px 0px;
    /* background-color: antiquewhite; */
}

.register-btn button{
    font-family: Courier, Helvetica, sans-serif;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 30px;
    color: #fff;
    background-color: coral;
}
.register-btn button:hover{
    background-color: rgb(255, 117, 67);
    cursor: pointer;
}

.register-detail{
    width: 80%;
    font-size: 20px;
    margin: 30px auto 20px;
    text-align: center;
    /* align-items: center; */
}
.register-detail a:hover{
    color: rgb(0, 153, 255);
    cursor: pointer;
}

.register-detail a{
    font-weight: bold;
    text-decoration: none;
    color: deepskyblue;
}

@media (max-width: 400px){
    .ctn-register{
        width: 100%;
        height: 100%;
        margin: 0px auto;
        border-radius: 0;
        border: none;
    }

    .register-header h2{

        margin-bottom: 10px;
    }

    .register-gg-content,
    .register-fb-content{
        width: 80%;
        height: 100%;
    }

    .Or{
    
        margin: 20px 100px 0px;
        padding: 10px 0;
        opacity: 0.6;
    }

    .input-form-register{
        padding: 20px 30px 50px;
    }

    .register-quick{
        font-size: 18px;
    }

    .register-btn{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px 80px 0px;
    }

    .register-detail{
        width: 86%;
        font-size: 18px;
        margin: 20px auto 20px;
    }
}







.logOut-page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(201, 230, 255);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logOut-modal{
    width: 44%;
    height: 50%;
    margin: 100px auto;
    text-align: center;
    border-radius: 40px;
    border: 1px solid #000;
    /* text-align: center; */
    
    transition: all .2s ease-in-out;
    background-color:#fff;
}

.logOut-modal:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.header-logOut-modal h2{
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.inf-user{
    width: 80%;
    height: 20%;
    text-align: justify;;
    margin: auto auto;
    /* background-color: aliceblue; */
}

.inf-user p{
    margin-bottom: 30px;
}

.logOut-btn{
    margin-top: 80px;
    /* margin-left: 100px; */
}

.logOut-btn button{
    font-size: 22px;
    font-family: Courier, Helvetica, sans-serif;
    font-weight: bold;
    width: 36%;
    height: 50px;
    border-radius: 30px;
    background-color: bisque;
}

.logOut-btn button:hover{
    box-shadow: 4px 4px 10px #ccc;  
}